.container{
    
    width: 500px;
    border: solid #ff0000;
    margin: 0 auto;
    margin-top: 300px;
    
}
.button{
   margin-top: 20px;
   
}

.cont2{
    border: solid blue;
    height: 200px;
    width: 400px;
    margin: 10px;
}

.cat{
   width: 200px;
    height: 200px;       
    object-fit: cover;
}
.button{
    margin: 10px;
    margin-left: 25px;
}