



    .container {
        width: 350px;
        margin: 100px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    label {
        font-weight: bold;
        margin-top: 10px;
    }

    input,
    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      
    }

 
    #submitt {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
    
    }

    #submitt:hover {
        background-color: #0056b3;
    }

    .order-data {
        text-align: center;
        margin-top: 20px;
    }


